 /* Scroll styling */
 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar{
    width:20px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}


/* Navbar styling */
 .nav{
     display: flex;
     justify-content: flex-end;
     height: 70px;

 }
 .nav_icon{
    margin-right:auto;
    height: 60px;
 }
 .nav_item{
     padding:10px 0;
     margin:0 10px;
 }
 .nav_item:hover{
     cursor: pointer;
 }
 

 .i5{
    margin-right: 40px;
}
 svg#Layer_1{
     margin-top: 10px;
     cursor: pointer;
 }
 svg{
     cursor: pointer;
 }

 
a{
   text-decoration:none; 
   color:rgb(142,116,116);
   font-family: 'Nanum Gothic', sans-serif;
   font-size:13px;
   font-weight: bold;
   line-height:60px;
   letter-spacing: 1px;
}
.wrapper{
    
    /* margin-top: 40px; */
    background-color: rgb(255,255,255);
    position: fixed;
    top:0;
    z-index: 1000;
   width: 100%;
    /* border-bottom: 1px solid black; */
}
.dropdown{
    line-height: 24px;
    position: absolute;
    background-color: rgb(41, 41, 41);
    margin-top: 10px;
    opacity: 0.1;
    z-index: 9999;
   
}
.dropdown_item{
    color: #fff;
    padding: 10px;
}
.hide{
    display:none;
}

.hamburger{
    margin-right: 40px;
}
.hamburger>svg{
    height: 0;
}

.sub>a{
    font-family: Arial, Helvetica, sans-serif;
   margin: auto;
    line-height: 30px;
    padding: 10px;
    margin: 0;
    
}
.sub_menu{
    background-color: black;
    margin: 10px;
    display: none;
}
.hide>div{
    color: rgb(170, 160, 150);
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
}
.sub>a{
    color:white;
}



.slider_con{
    display: grid;
    grid-template-rows: 600px;
    margin: 80px 0;
}
/* nav responsive */
@media only screen and (max-width:1100px){
    .wrapper{
        position: static;
    }
    .nav_item{
        display: none;
    }
    .nav{
        height: auto;
    }
   
    .hamburger>svg{
        height:50px;
    }
    
    .slider_con{
        margin:20px;
    }
}





/* slider section */




.slider_item1,.slider_item2{
    grid-row:1/2 ;
    grid-column:1/2 ;
    display: grid;
    grid-template-rows: 150px 100px 200px 150px ;
}
.slider_item1{
    z-index: 1;
}
.slider_item2{
    z-index: 4;
    background-image: url('img2.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.slider_img1,.slider_img2{
    width:100%;
    object-fit: cover;
    height:600px;
    grid-row: 1/5;
    grid-column: 1/2;
    z-index: 1;
}
.img1_heading,.img2_heading{
    grid-row: 1/2;
    grid-column: 1/2;
    margin:auto;
    font-size: 40px;
    font-weight: 700;
    color:rgb(238, 238, 238);
    text-align: center;
    padding: 5px;
 
    
    
    /* font-family: 'Nanum Gothic', sans-serif; */
    z-index: 3;
    /* font-weight: ; */
}


.img1_sub,.img2_sub{
    grid-row:2/3;
    grid-column: 1/2;
    margin:auto;
    color: white;
    /* box-shadow: 0 0 5px rgb(37, 6, 6); */
    font-family:"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 19px;
    font-weight:600;
    max-width:800px;
    text-align: center;
    z-index: 3;
    line-height: 30px;
    word-spacing: 6px;
}
.img1_sub{
    color:palegreen;
    font-size: 24px;
}
.slider_button{
    grid-row: 3/4;
    grid-column:1/2 ;
    z-index: 3;
    color: white;
    text-transform: uppercase;
    background-color:rgb(255, 70, 70);
    margin: auto;
    padding: 15px;

}
.overlay{
    grid-row:1/5 ;
    grid-column: 1/2;
    background-color: rgba(0, 0, 0, 0.342);

  z-index: 1;
}
@media only screen and (max-width:750px){
    .slider_con{
        margin:20px 0;
    }
}



/* Cards section */  
   


.cards_con{
    /* height:1060px; */
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 530px 530px;
}

.heading{
   width:450px ;
   
    font-size:50px ;
    margin:20px auto;
    text-align: center;
}
.h3{
    font-size:50px ;
    text-indent: 9%;
}



.card{
    background-color: rgb(252,79,79);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px 10px;
    border-radius:0 25px 0 0;
    margin:10px;
    position: relative;
    /* margin: auto; */
}
.c2{
    color:black;
    background-color: rgb(248,248,248);
    position: relative;
}
.c3{
    color: black;
    background-color: rgb(255, 229, 181);
}
.card_date{
    width:45%;
    position: absolute;
    top:2px;
    left:0px;
    /* margin: 5px; */
    padding: 5px;
    background-color: rgb(252,79,79);
    border-left: 5px solid black;
    border-radius: 0 5px 5px 0;
    font-weight: 700;
    color: white;

  
}
.card_img{
    width: 148px;
    /* margin: auto; */
    border-radius:0 0 10px 10px;
    /* border-bottom-left-radius:; */
    background-color: white;
}
.card_topic{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 20px 0 25px 0;
}
.card_amt{
    font-size: 40px;
    /* text-align: center; */
    
}
.card_sub{
    font-size: 15px;
    font-family:  Helvetica, sans-serif;
    letter-spacing: 1.5px;
    line-height: 17px;
    /* text-align: center; */
    margin:10px 0;
    
}
.card_lect{
    /* text-align: center; */
    font-size: 18px;
}
.card_button{
    
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin:50px;
    min-width: 100px;
    padding: 10px;
    border:2px solid white;
    display: inline-block;
    

    
    /* padding:10px; */

}
.b2{
    background-color: rgb(252,79,79);
    color: white;
    border: 1px solid red;
    /* height: 40px; */
    /* background-clip: content-box; */
    margin:0;
}

.b2_wrapper{
    padding:2px;
    border:1px solid red;
    display: inline-block;
    margin:50px;
}

.b3{
    background-color: rgb(252,79,79);
    color:white;
}


/* cards responsive */


@media only screen and (max-width:1100px){
    .cards_con{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:730px){
    .cards_con{
        grid-template-columns: 1fr;
        min-width: 380px;
        max-width: 60%;
    }
}



/* team section  */
.team_sub_con{
    display: flex;
    padding: 50px;
    justify-content: space-around;
    
}
.team_sub_con>div{

  margin: 10px;
  min-width: 108px;
    
    
}

.profile{
   border-radius: 50%;
   object-fit: cover;

}

.name{
    text-align: center;
    font-size:22px;
    font-weight: bolder;
    margin:10px;
 
 }
 .role{
     text-align: center;
 }


/* Review section */


 .review_bg{
    background-color: rgb(248,248,248);
}
 .reviews_wrapper{
    
     display: grid;
     max-width: 1270px;
     margin:0 auto;
     grid-template-columns:1fr 1fr;
     grid-template-rows:300px 300px;
 }
 .review_con{

     margin: auto;
     display: grid;
     padding: 10px;
     margin:10px;
     grid-template-columns:1fr 2fr;
     max-width: 620px;
     box-shadow: 1px 1px 6px rgb(104, 103, 103);
     transition: box-shadow 0.1s ease-in;
     min-width: 390px;
 }
 @media (max-width:855px){
     .reviews_wrapper{
         margin: auto;
         max-width: 500px;
         grid-template-columns: 1fr;
         grid-template-rows:auto ;
     }
 }
 .review_con:hover{
    box-shadow: 2px 2px 6px rgb(104, 103, 103)
 }
 .review_pic_name{
    justify-self: center;
    align-self: center;
}
.review_pic{
    border-radius: 50%;
    margin: 5px;
}

.review_name{
    text-align:center;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 5px;
}
.review_course{
    text-align: center;
    
}
.review{
    line-height: 24px;
    align-self: center;
   font-family: "Nunito","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
    overflow-x: hidden;
}



/* FORM Section */
label{
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
input{
    margin:20px;
    min-width: 300px;
    height: 30px;
    background-color: rgb(240, 240, 240);
    border: white 5px solid;
    border-radius: 20px;
    text-indent: 10px;
}
textarea{
    min-width: 300px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    border: white 5px solid;

}
.form_con{

   display: grid;
   grid-template-columns: 80px 1fr;
   grid-template-rows: repeat(3,80px) 160px;
   align-items: center;
   justify-items: center;
   justify-content: center;
   max-width: 400px;
   height: 430px;
   background-color: rgb(250, 249, 249);
   border: 8px solid rgb(255, 106, 188);
   padding:100px;
   margin: 100px auto ;

}
.form_con>button{
    grid-column: 1/3;
    grid-row: 5/6;
    margin:10px;
    padding: 10px;
    border: 2px solid pink;
}
@media only screen and (max-width:486px){
   label{
       display: none;
   }
   input{
       flex-basis: 40px;
   }
   /* input[for="name"]{

   }
   input[for="email"]
   input[for="subject"]
   input[for="message"] */
   .form_con{
       padding: 0;
       display:flex;
       flex-direction: column;
   }
}



/* footer Section */

.footer{
    background-color: black;
    padding: 20px 0  20px 0;
    margin: 1px;
}
.footer_con1,.footer_con2{
    display: flex;
    max-width: 90%;
    margin:0 auto;
}
.footer_con1{
    justify-content: space-around;
    align-items: center;
}

.footer_col{
    flex-basis: 420px;
}
.footer_con2{
    display: flex;
    padding: 50px;
    justify-content:center;

}
.footer_col>div{
 margin:10px;
 font-family: "Nunito","Helvetica Neue",Helvetica,Arial,sans-serif;
 color: white;
}
.fotter_side{
    font-family: "Nunito","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:white;
    flex-basis: 70%;
    margin:10px;
}
.footer_heading{
    padding: 10px;
    border-bottom: 0.1px solid white;
}
.footer_link{
  
    width:100px;
    text-align: center;
    /* height: 20px; */
    /* padding:10px; */
    border:1px solid white;
    margin: 10px auto;
}
.footer_link>a{
    font-size: 20px;
    color: rgb(228, 228, 228);
 padding: 10px 30px;
}
@media (max-width:855px){
    .footer_con1,.footer_con2{
        flex-direction: column;
    }
    .footer_col{
        flex-basis: 300px;
    }
    .footer_con1{
        display: none;
    }
}
